body{
    
}
table.table, th, td{
    border: 0px solid ;
    font-size: 80px;
}
table {
    margin-left: auto;
    margin-right: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;
    width: auto;
}
.row > .column{
    padding: 0 70px;

}
.column{
    float: left;
    width: 10%;
}
.row{
    position: absolute;
    top: 560px;
    left: 130px;
}
.row2 > .column2{
    padding: 0 40px;

}
.column2{
    float: left;
    width: 10%;
}
.row2{
    position: absolute;
    top: 340px;
    left: 345px;
}




h1{
    font-family: Tahoma;
    text-align: center;
}
h3{
    font-family: Tahoma;
}
p{  
    font-family: Tahoma;
}
#yks{
    position: absolute;
    top: 250px;
    right: 1750px;
    left: auto;
    
}
#kaks{
    position: absolute;
    top: 250px;
    right: 1750px;
    left: auto;
    
}
#kolme{
    position: absolute;
    top: 250px;
    right: 1750px;
    left: auto;
    
}
#rahat{
    position: fixed;
    top: 200px;
    right: 1252px;
    left: auto;
    
}
#panos{
    position: absolute;
    top: 250px;
    right: 1260px;
    left: auto;
    
}





img[src*="k1.png"]{
    height: 100px;
    width: 100px;
}
img[src*="k4.png"]{
    height: 100px;
    width: 100px;
}
img[src*="kolikko.png"]{
    height: 100px;
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
}
img[src*="lukko.png"]{
    height: 100px;
    width: 100px;
}
img[src*="k5.png"]{
    height: 100px;
    width: 100px;
}
img[src*="k3.png"]{
    height: 100px;
    width: 100px;
}
img[src*="k2.png"]{
    height: 100px;
    width: 100px;
}
img[src*="1€.png"]{
    height: 150px;
    width: 150px;
}
img[src*="2€.png"]{
    height: 150px;
    width: 150px;
}
img[src*="3€.png"]{
    height: 150px;
    width: 150px;
}
img[src*="paarynat.png"]{

}
img[src*="seiskat.png"]{

}
img[src*="pelaa.png"]{
    position:absolute;
    left: auto;
    right: 70px;
}

